HolaMundoApp/HolaMundo/SOA/xsd/ClienteSchema.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
            targetNamespace="http://www.example.org" elementFormDefault="qualified">
  <xsd:element name="infoCliente">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="nombre" type="xsd:string"/>
        <xsd:element name="apePaterno" type="xsd:string"/>
        <xsd:element name="apeMaterno" type="xsd:string"/>
        <xsd:element name="fechaRegistro" type="xsd:date"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
